<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LiveWebClient</title>
	<link href="/css/style.css" rel="stylesheet"/>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
	<script src="/js/interface.js"></script>
	<script src="/js/common.js"></script>
</head>
<body>
	<div class="center">
		<div class="content">
			<h1>Test Seite</h1>
			<h2 id="clock"></h2>
			<h3 id="date"></h3>
		</div>
	</div>

	<script>
	// if(!!window.EventSource) {
	// 	var source = new EventSource("http://localhost:8080/subscribe");
	// 	source.addEventListener("update", function(event) {
	// 		console.log(event);
	// 	});
	// 	source.addEventListener("time", function(event) {
	// 		var json = JSON.parse(event.data);
	// 		document.getElementById("clock").innerText = json.time;
	// 		document.getElementById("date").innerText = json.date;
	// 	});
	// }
	</script>
</body>
</html>